* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/*header & banner styles */


.text-primary {
    color: #F15B22;
}

.btn-primary {
    height: 64px;
    background-color: #F15B22;
    border-radius: 5px;
    width: 150px;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
}

.header {
    background-color: #FFFFFF;
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 200px;
    text-align: right;
    padding-left: 500px;
    padding-bottom: 200px;
}

/* banner styles */

.banner {
    display: flex;
    margin: 0px 100px;
    align-items: center;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
}

.banner-description {
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 30px;
}

/* recap styles */
.recap {
    text-align: right;
    padding-left: 700px;
    background-image: url('../images/person.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 200px;
    padding-bottom: 200px;
}

.recap-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    padding-right: 150px;
    text-align: left;
    margin-bottom: 20px;
}

.recap-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    text-align: left;
    padding-right: 100px;
    margin-bottom: 20px;
}

.recap ul {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    list-style: none;
    text-align: left;
    padding-left: 0px;
}

.recap li {
    margin: 5px 0;
}


/* about section styles */

.plan {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.section-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    text-align: center;
}

.plan-info-container {
    display: flex;
    justify-content: space-around;
}

.plan .info-title {
    color: #151414;
    font-weight: 700;
    font-size: 30px;
    margin-top: 15px;
}

.info-description {
    color: #737272;
    font-weight: 500;
    font-size: 25px;
    margin-top: 15px;
}

.motivation{
    background-image: url('../images/gradient1.png'), url('../images/watch.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 200px;
    max-width: 1000px;
    margin: 0 auto;
}

.quote{
    font-weight: 700;
font-size: 40px;
color: #FFFFFF;
padding-left: 50px;
padding-right: 500px;
padding-top: 60px;
}

.motivation button{
    margin-left: 50px;
    margin-top: 10px;
}